/*
@theme Proverb
@author Daniel Haim, @danielhaim 
http://www.danielhaim.com


                ___()___
           _.-'' ,-'`-. ``-._
        ,-'    ,'      `.    `-.
      ,'     ,'          `.     `.
     /      /              \      \
    /_     /                \     _\
      ``-./_..---'''|``---.._\,-''
                    |
                    |
                    |
                    |
                    |
                    |
                    |
                 ,  |
                 `..'
                 
                                              
*/

styling { spell-check: disabled; }

 :document-base {
    color: #fff;
    background-color: #222;
    insertion-point-color: #ff0000;
    selection-background-color: #fff;
    current-line-background-color: #ff0000;
}  

/* Javascript, Scripts */

script
{color: #fcfe54;}

script string
{color: #777;}

script punctuation
{color: #fcfe54;}

embedded-javascript
{color: #fcfe54;}

variable.function{
	color: #1d8ffd;
}

string.quoted{
	color: #1d8ffd;
}
function.js{}

punctuation.delimiter{
	color: #FFF!important;
}

brace.round{
	color: #EFEFEF;
}

variable.function.method{
	color: #ff7bac!important;
}

/* HTML, XML */

html doctype, html doctype name, html doctype punctuation,
xml processing-instruction, xml processing-instruction string, xml processing-instruction string value { color: #666; }

language-root.html{
	color: #E9E9E9;
}

punctuation.begin, punctuation.end{
	color: #7964c9!important;
	background: #2e2a4e;
}

.entity.name{
color: #7964c9;
}
head.self-closing{
	color: #ff0000;
}

comment.block.html{
	color: #e9e9e9;
	background: #333;
}
html attribute-value.value {
	color: #FFF!important;
}

/* CSS */

css important{
	color: #fdfc00!important;
}

css{
	color: #ff2f98;
}

css comment{
	color: #9093ff;
}

css selector{
	color: #1d8ffd;
}

css property-name{
	color: #54fe54;
}

/* General */


tag.open.block {
background: #2e2a4e;
}

html{
	
	color: #9093ff;
}
html comment{
	color: #444;
}


html attribute{
	color: #54fe54;
}
html attribute-name{
	color: #7964c9;
	background: #333;
}

html attribute-value{
	color:#999;
}
