/*
@theme Proverb
@author Daniel Haim, @danielhaim 
http://www.danielhaim.com


                ___()___
           _.-'' ,-'`-. ``-._
        ,-'    ,'      `.    `-.
      ,'     ,'          `.     `.
     /      /              \      \
    /_     /                \     _\
      ``-./_..---'''|``---.._\,-''
                    |
                    |
                    |
                    |
                    |
                    |
                    |
                 ,  |
                 `..'
                 
                                              
*/

styling { spell-check: disabled; }

 :document-base {
    color: #fff;
    background-color: #222;
    insertion-point-color: #ff0000;
    selection-background-color: #fff;
    current-line-background-color: #ff0000;
}  

/* Javascript, Scripts */

script
{color: #fcfe54;}

script string
{color: #777;}

script punctuation
{color: #fcfe54;}

embedded-javascript
{color: #fcfe54;}

function.js{}

/* HTML, XML */

html doctype, html doctype name, html doctype punctuation,
xml processing-instruction, xml processing-instruction string, xml processing-instruction string value { color: #666; }

head.self-closing{
	color: #ff0000;
}

/* CSS */

css important{
	color: #fdfc00!important;
}

css{
	color: #ff2f98;
}

css comment{
	color: #9093ff;
}

css selector{
	color: #1d8ffd;
}

css property-name{
	color: #54fe54;
}

/* General */


tag.open.block {
}

html{
	
	color: #9093ff;
}
html comment{
	color: #444;
}


html attribute{
	color: #54fe54;
}
html attribute-name{
	color: #54fe54;
}

html attribute-value{
	color:#999;
}

html punctuation.begin, .punctuation.end{
	color: #7f7f7f;
}