/*
@theme Proverb
@author Daniel Haim, @danielhaim 
http://www.danielhaim.com


                ___()___
           _.-'' ,-'`-. ``-._
        ,-'    ,'      `.    `-.
      ,'     ,'          `.     `.
     /      /              \      \
    /_     /                \     _\
      ``-./_..---'''|``---.._\,-''
                    |
                    |
                    |
                    |
                    |
                    |
                    |
                 ,  |
                 `..'
                 
                                              
*/

styling {


	spell-check: disabled;


}


:document-base {


	color: #fff;


	background-color: rgba(0, 0, 0, 0.90);


	insertion-point-color: #7564a6;


	selection-background-color: rgba(117, 100, 166, 0.2);


	current-line-background-color: #101010;


}


php punctuation {


}


php constant {


	color: #ef324a;


}


php constant.numeric.integer {


	color: #00baa0;


}


php constant.numeric.float {


	color: #008b77;


}


operator.assignment {


	color: #c92415;


}


php keyword.control {


	background: #6bb866;


	color: #111;


}


punctuation.bracket.angle.open, {


	color: #00baa0;


}


/* Javascript, Scripts */


script {


	color: #fcfe54;


}


script string {


	color: #777;


}


script punctuation {


	color: #fcfe54;


}


embedded-javascript {


	color: #fcfe54;


}


variable.function {


	color: #1d8ffd;


}


string.quoted {


	color: #00a2ab;


}


function.js {


}


punctuation.delimiter {


	color: #FFF!important;


}


brace.round {


	color: #EFEFEF;


}


variable.function.method {


	color: #ff7bac!important;


}


/* HTML, XML */


html doctype, html doctype name, html doctype punctuation, xml processing-instruction, xml processing-instruction string, xml processing-instruction string value {


	color: #666;


}


language-root.html {


	color: #E9E9E9;


}


css punctuation.begin, css punctuation.end {


	color: #7564a6;


}


.entity.name {


	color: #7964c9;


}


head.self-closing {


	color: #ff0000;


}


comment.block.html {


	color: #FFF;


	background: #555;


}


html attribute-value.value {


	color: #FFF!important;


}


attribute-value.value {


	background: #444;


}


/* CSS */


css comment {


	color: #7564a6;


}


css url {


	color: #3264b3;


}


css important {


	color: #fdfc00!important;


}


css {


	color: #ff2f98;


}


css comment {


	color: #e2ac4f;


}


css punctuation {


	color: #add54d;


}


css css.selector {


	color:#77


}


css property-name {


	color: #7bdebd;


}


/* General */


tag.open {


	color: #888!;


}


tag.close {


	color: #999!important;


}


html {


	color: #9093ff;


}


html comment {


	color: #444;


}


html attribute {


	color: #54fe54;


}


html attribute-name {


	color: #7964c9;


	background: #333;


}


html attribute-value {


	color:#999;


}
